<!DOCTYPE html>
<html>
<head>
	<title> The Write Idea - Results </title>
	<link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>
<h1 id="title"> THE WRITE IDEA </h1>

<h2> Some stats </h2>

<p> Your piece has <%=@wordCount%> words. </p>

<p> The average length of a word is <%=@avgWord%>. </p>

<p> Your piece has <%=@sentenceCount%> sentences. </p>

<p> The average length of a sentence is <%=@avgSentence%>. </p>

<p id="originalUserText"> <%=@userText%> </p>

<h3> Your edited essay: </h3>

<p id="editedUserText"> </p>

<p id="weakwordexplanation" class="hidden"> that was a weak word choice friend </p>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/logic.js"></script>

</html>