<!DOCTYPE html>
<html>
<head>
	<title> The Write Idea - Results </title>
	<link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>
<h1 id="title"> THE WRITE IDEA </h1>

<h2> Some stats </h2>

<p> Your piece has <%=@wordCount%> words. </p>

<p> The average length of a word is <%=@avgWord%>. </p>

<p> Your piece has <%=@sentenceCount%> sentences. </p>

<p> The average length of a sentence is <%=@avgSentence%>. </p>

<h2> Your original essay: </h2>

<p id="originalUserText"> <%= @userText%> </p>

<h2> Your edited essay: </h2>

<p id="editedUserText"> </p>

<h2 id="explanationHeader"> EXPLANATIONS </h2>

<p id="weakVerbExplanation" class="hidden magentaText explanation"> This verb is overused (though can sometimes be appropriate if trying to place emphasis on something other than the action). Consider consulting a thesaurus if that was not your intention. </p>

<p id="vagueNounExplanation" class="hidden aquaText explanation"> This word is too generic - what exactly are you talking about? </p>

<p id="adverbExplanation" class="hidden orangeText explanation"> In Mr. Cruz’s words, “Kill all adverbs.” Using an adverb usually means you’re using a weaker verb - try to change that verb to be more powerful. </p>

<p id="misusedExplanation" class="hidden lightBlueText explanation"> This word is probably being misused. Check to make sure the changed version of it makes sense. </p>

<p id="nakedThisExplanation" class="hidden lightGreenText explanation"> Add a noun after “this” to avoid any confusion about what you’re talking about. </p>

<p id="firstPersonExplanation" class="hidden blueText explanation"> First person should be avoided in formal essays. Think about taking out yourself and stating it as a fact. </p>

<p id="secondPersonExplanation" class="hidden darkGreenText explanation"> Second person should be avoided in formal essays. Perhaps use “one” instead. </p>

<p id="contractionsExplanation" class="hidden yellowText explanation"> Contractions should be avoided in formal essays. The full version of the word has been added. </p>

<p id="passiveVoiceExplanation" class="hidden purpleText explanation"> Passive voice makes your writing less direct but can be useful when placing emphasis on the object/action or when the person performing the action is unknown. Check to make sure this use of passive voice has a purpose. </p>

<p id="pastTenseExplanation" class="hidden pinkText explanation"> English essays should be entirely written in the present tense. </p>

<p id="repetitionExplanation" class="hidden redText explanation"> </p>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/logic.js"></script>

</html>