<!DOCTYPE html>
<html>
<head>
	<title> The Write Idea - Results </title>
	<link rel="stylesheet" type="text/css" href="/styles/outputstyles.css?v=4">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911" rel="stylesheet">

</head>

<body>
<h1 id="title"> THE WRITE IDEA </h1>
<h2 id="tagline"> A style text editor </h2>

<h2> Some stats </h2>

<p> Your piece has <%=@wordCount%> words. </p>

<p> The average length of a word is <%=@avgWord%>. </p>

<p> Your piece has <%=@sentenceCount%> sentences. </p>

<p> The average length of a sentence is <%=@avgSentence%>. </p>

<p id="userTeacher" class="hidden"> <%=@teacher%> </p>

<p id="userRepetition" class="hidden"> <%=@repetitionSkill%> </p>

<p id="userNakedThis" class="hidden"> <%=@nakedThisSkill%> </p>

<p id="userPassiveVoice" class="hidden"> <%=@passiveVoiceSkill%> </p>

<p id="userPastTense" class="hidden"> <%=@pastTenseSkill%> </p>

<p id="userPresentTense" class="hidden"> <%=@presentTenseSkill%> </p>

<p id="userFirstPerson" class="hidden"> <%=@firstPersonSkill%> </p>

<p id="userSecondPerson" class="hidden"> <%=@secondPersonSkill%> </p>

<p id="userAdverbs" class="hidden"> <%=@adverbsSkill%> </p>

<p id="userWeak" class="hidden"> <%=@weakSkill%> </p>

<p id="userFiller" class="hidden"> <%=@fillerSkill%> </p>

<p id="userVagueNoun" class="hidden"> <%=@vagueNounSkill%> </p>

<p id="userContractions" class="hidden"> <%=@contractionsSkill%> </p>

<p id="originalUserText" class="hidden"> <%=@userText%> </p>

<h2> Your edited essay: </h2>

<p id="editedUserText"> </p>

<h2 id="explanationHeader"> EXPLANATIONS </h2>

<p id="weakTitle" class="hidden magentaText title"> Weak Word Choice </p>

<p id="weakExplanation" class="hidden magentaText explanation"> Your weak word choice is implying that there is a chance you may be wrong. While nuance is appropriate to address in the conclusion, try to avoid weakening your point earlier in the paper. </p>

<p id="fillerTitle" class="hidden darkRedText title"> Filler </p>

<p id="fillerExplanation" class="hidden darkRedText explanation"> If you eliminate filler words, your sentence will be more assertive and clearer. </p>

<p id="vagueNounTitle" class="hidden aquaText title"> Vague Word </p>

<p id="vagueNounExplanation" class="hidden aquaText explanation"> This word is too generic - what exactly are you talking about? </p>

<p id="adverbTitle" class="hidden orangeText title"> Adverb Alert </p>

<p id="adverbExplanation" class="hidden orangeText explanation"> In Mr. Cruz’s words, “Kill all adverbs.” Using an adverb usually means you’re using a weaker verb - try to change that verb to be more powerful. </p>

<p id="misusedTitle" class="hidden lightBlueText title"> Misusage </p>

<p id="misusedExplanation" class="hidden lightBlueText explanation"> This word is probably being misused. Check to make sure the changed version of it makes sense. </p>

<p id="nakedThisTitle" class="hidden lightGreenText title"> Naked This </p>

<p id="nakedThisExplanation" class="hidden lightGreenText explanation"> Add a noun after “this” to avoid any confusion about what you’re talking about. </p>

<p id="firstPersonTitle" class="hidden blueText title"> First Person </p>

<p id="firstPersonExplanation" class="hidden blueText explanation"> First person should be avoided in formal essays. Think about taking out yourself and stating it as a fact. </p>

<p id="secondPersonTitle" class="hidden darkGreenText title"> Second Person </p>

<p id="secondPersonExplanation" class="hidden darkGreenText explanation"> Second person should be avoided in formal essays. Perhaps use “one” instead. </p>

<p id="contractionsTitle" class="hidden yellowText title"> Contraction </p>

<p id="contractionsExplanation" class="hidden yellowText explanation"> Contractions should be avoided in formal essays. The full version of the word has been added. </p>

<p id="passiveVoiceTitle" class="hidden purpleText title"> Passive Voice </p>

<p id="passiveVoiceExplanation" class="hidden purpleText explanation"> Passive voice makes your writing less direct but can be useful when placing emphasis on the object/action or when the person performing the action is unknown. Check to make sure this use of passive voice has a purpose. </p>

<p id="pastTenseTitle" class="hidden pinkText title"> Past Tense </p>

<p id="pastTenseExplanation" class="hidden pinkText explanation"> English essays should be entirely written in the present tense. </p>

<p id="presentTenseTitle" class="hidden darkPinkText title"> Present Tense </p>

<p id="presentTenseExplanation" class="hidden darkPinkText explanation"> In the words of Ms. Hennessy, "It can be tough writing a history essay." When you are writing about the past, write in past tense. However, if you are writing about something written about the past, write in present tense. Check your tense. Should this be in present tense? </p>

<p id="repetitionTitle" class="hidden redText title"> Repetition </p>

<p id="repetitionExplanation" class="hidden redText explanation"> </p>

<p id="specialTitle" class="hidden specialText title"> WARNING </p>

<p id="specialExplanation" class="hidden explanation" > This is one of your teacher's <b> BIGGEST </b> pet peeves! </p>

<p id="specialExplanationLC" class="hidden explanation" > This is Ms. L-C's <b> BIGGEST </b> pet peeve! Are you using "as" to express cause and effect? For the sake of simplicity, try "because" instead. </p>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/logic.js"></script>

</html>